<!-- templates/pesquisar.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--conecta os arquivos de estilizacao e icones-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pesquisar.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/lupa.png') }}" type="image/png">
    <title>Pesquisar</title>
</head>
<body>
    <h1></h1><!--Local para obter o nome para realisar a pesquisa-->
    <form method="post" action="{{ url_for('pesquisar_dados') }}">
        <!-- Formulário para pesquisa -->
        <label for="termo_pesquisa">Nome</label>
        <input type="text" name="termo_pesquisa" required>
        <br>
        <!--botao que dispara a pesquisa-->
        <button type="submit">Pesquisar</button>
    </form>
    <br>
    <!--linkagem para a pagina de mostrar todos os dados do banco-->
    <a href="{{ url_for('todos_os_dados') }}">Ver Todas as Reservas</a>
</body>
</html>
