<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--ligacao aos arquivos de icones e estilizacao-->
    <link rel="icon" href="{{ url_for('static', filename='icons/banco.png') }}" type="image/png"><!-Referencia de icone ->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_dados.css') }}"><!-Referencia ao css ->
    <title>Dados</title>
</head>
<body>
    
    <h1></h1><!-Estrutura para mostrar os dados do banco ->
    <table border="3">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Data</th>
            <th>Quantidade de Pessoas</th>
        </tr>
        {% for dado in dados %}
        <tr>
            <td>{{  dado[0]  }}</td>
            <td>{{  dado[1]  }}</td>
            <td>{{  dado[2]  }}</td>
            <td>{{  dado[3]  }}</td>
            <td>{{  dado[4]  }}</td>
            <td>{{  dado[5]  }}</td>
            <td>{{  dado[6]  }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
